<p id="notice"><%= notice %></p>

<h1>Listing Walkrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walkrs.each do |walkr| %>
      <tr>
        <td><%= walkr.name %></td>
        <td><%= walkr.description %></td>
        <td><%= walkr.picture %></td>
        <td><%= walkr.rating %></td>
        <td><%= link_to 'Show', walkr %></td>
        <td><%= link_to 'Edit', edit_walkr_path(walkr) %></td>
        <td><%= link_to 'Destroy', walkr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Walkr', new_walkr_path %>
