<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<p>
  <strong>Picture:</strong>
  <a href="<%= @dog.picture %>"><img style="width:300px" src="<%= @dog.picture %>" alt="<%= @dog.name %>" ></a>
</p>

<p>
  <strong>Rating:</strong>
  <%= @dog.rating %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
