<p id="notice"><%= notice %></p>


<table align="center">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><img style="width:200px" src="<%= @dog.picture %>" alt="<%= @dog.name %>" ></td>
        <td><%= @dog.name %></td>
        <td><%= @dog.description %></td>
        <td><%= @dog.rating %></td>
      </tr>

  </tbody>
</table>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
