<!DOCTYPE html>
<html>
<head>
  <title>Walkr</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

</head>

<body>

  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Walkr</a>

      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/dogs/" class="pure-menu-link">Dogs</a></li>
          <li class="pure-menu-item"><a href="/walkrs/" class="pure-menu-link">Walkrs</a></li>
          <li class="pure-menu-item"><a href="/signup/" class="pure-menu-link">Sign Up</a></li>
          <li class="pure-menu-item"><a href="/login/" class="pure-menu-link">Log In</a></li>
      </ul>
  </div>

<body>
  
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

<%= yield %>

</body>
</html>
